In [1]:
import pandas as pd

In [2]:
file_name = '/Users/trongnguyen/Dropbox/FattyLiver/results/injection_level.xlsx'

In [3]:
xl = pd.ExcelFile(file_name)

# Olive oil injection

In [4]:
df1 = xl.parse(sheetname='CCL4-Olive Oil Doses')

In [5]:
df1.columns

Index(['Week 1', 'Unnamed: 1', 'Week 2', 'Unnamed: 3', 'Week 3', 'Unnamed: 5',
       'Week 4', 'Unnamed: 7', 'Week 5', 'Unnamed: 9', 'Week 6', 'Unnamed: 11',
       'Week 7', 'Unnamed: 13', 'Week 8', 'Unnamed: 15', 'Week 9',
       'Unnamed: 17', 'Week 10', 'Unnamed: 19', 'Week 11', 'Unnamed: 21',
       'Week 12', 'Unnamed: 23'],
      dtype='object')

In [6]:
df1.drop(df1.columns[[1,2]],axis = 1, inplace = True)

In [7]:
df2 = df1.reset_index(level=[1,2])

In [8]:
df3 = df2.iloc[1:, 3:-1:2]

In [9]:
df4 = df3.fillna(0)

In [10]:
df_o = df4.sum(axis = 1)

# Corn oil injection

In [11]:
df_c = xl.parse(sheetname='CCL4-Corn Oil Doses', header = 1)

In [12]:
df_c.columns

Index(['BRL Animal ID', 'Injection Level of CCL4:Olive Oil', 'Unnamed: 2',
       'Weights', 'Actual Amount Given of CCL4:Olive Oil (mL)', 'Weights.1',
       'Actual Amount Given of CCL4:Olive Oil (mL).1', 'Weights.2',
       'Actual Amount Given of CCL4:Olive Oil (mL).2', 'Weights.3',
       'Actual Amount Given of CCL4:Olive Oil (mL).3', 'Weights.4',
       'Actual Amount Given of CCL4:Olive Oil (mL).4', 'Weights.5',
       'Actual Amount Given of CCL4:Olive Oil (mL).5', 'Weights.6',
       'Actual Amount Given of CCL4:Olive Oil (mL).6', 'Weights.7',
       'Actual Amount Given of CCL4:Olive Oil (mL).7'],
      dtype='object')

In [13]:
df_c = df_c.drop('Unnamed: 2', axis = 1)

In [14]:
df_c = df_c.dropna()

In [15]:
df_c.columns = ['ID', 'Level', 'Weights1','Inj1', 'Weights2','Inj2', 'Weights3','Inj3',\
              'Weights4','Inj4', 'Weights5','Inj5', 'Weights6','Inj6', 'Weights7','Inj7', \
              'Weights8','Inj8']

In [16]:
df_c.head()

,ID,Level,Weights1,Inj1,Weights2,Inj2,Weights3,Inj3,Weights4,Inj4,Weights5,Inj5,Weights6,Inj6,Weights7,Inj7,Weights8,Inj8
0,L759,1.0,3.012,0.16,2.994,0.15,2.972,0.15,2.990,0.15,3.024,0.16,3.018,0.15563,3.074,0.15759,3.130,0.15955
1,L760,2.0,3.080,0.27,3.086,0.27,3.104,0.27,3.140,0.27,3.116,0.27,3.154,0.27078,3.184,0.27288,3.236,0.27652
2,L761,1.0,3.096,0.16,3.076,0.16,3.048,0.16,2.994,0.15,2.982,0.15,3.032,0.15612,3.102,0.15857,3.080,0.15780
3,L762,2.0,3.424,0.29,3.370,0.29,3.284,0.28,3.290,0.28,3.312,0.28,3.338,0.28366,3.422,0.28954,3.218,0.27526
4,L763,1.0,3.046,0.16,3.020,0.16,2.996,0.15,2.956,0.15,2.928,0.15,2.880,0.15080,2.744,0.14604,2.848,0.14968

In [17]:
injected_amount  = df_c.iloc[:,3:18:2].sum(axis = 1)

In [18]:
df_c1 = pd.concat([df_c.ID, injected_amount], axis=1)

In [19]:
df_c2 = df_c1.set_index('ID')

In [20]:
df_c2.head()

            0
ID
L759  1.24277
L760  2.17018
L761  1.25249
L762  2.26846
L763  1.21652

In [21]:
injection_level = pd.concat([df_c2, df_o])

In [22]:
injection_level.to_csv('injection_ml_1.csv', sep = '\t')